<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Lexique celtique</title>
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="/js/configData.js" ></script>
    <script type="text/javascript" src="/js/scriptLanguage.js"></script>
    <script type="text/javascript" src="/js/consultWordstem.js" defer></script>

</head>

<body>

<div align="center" class="container my-2">

    <h1> List of Word Stems</h1>
    <h3 id="words-count"></h3>
    <a href="/wordStems/add" class="btn btn-primary btn-sm-mb-3">Add a word stem</a>
    <table border="1"  class="table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Mot</th>
            <th> Genre</th>
            <th> Wordclass</th>
            <th> Traduction</th>
            <th> Parent</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="wordstemtable"></tbody>

    </table>
    <div id="pagesbutton">
    </div>
</div>
</body>
</html>