<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Accueil Geriadur</title>

    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<header>
    <h2>Geriadur</h2>

    <div class="summary">
        <div class="language"></div>
        <div class="summary-btn"><a href="/sessionGame">Jeu Gerdarzh</a></div>
        <div class="summary-btn"><a href="/wordstems/list">Lexique</a></div>
        <div class="summary-btn"><a href="/sources">Sources</a></div>
        <div class="summary-btn"><a href="/userprofile">Mon profile</a></div>
        <div class="summary-btn"><a href="/leaderboard">Classement</a></div>
        <div class="summary-btn"><a href="/login?logout">
            <button class="classic-btn">Account</button>
        </a></div>
    </div>
</header>
<section>
    <h1>Bienvenue sur Geriadur</h1></section>
<div class="home">
    <section class="intro">
        <p>Qu’est ce que le site Geriadur ? Geriadur est d’abord un lexique etymologique des langues celtiques. Le
            principe est de répertorier et de mettre en évidences les éléments communs présents dans les termes d’origine
            celtiques.<br>
            Le léxique prend principalement en compte les langue suivantes: le breton, l’irlandais, le gallois, le
            gaulois et le proto-celtique.<br> Sur la base de ce léxique, nous proposons un parcours ludique de ces termes via le
            mini-jeu Gerdarzh. Celui-ci consiste en séries de 15 noms propres d’origine celtique dont vous devrez
            trouver sa signification étymologique.<br>
            Une description et une décomposition du nom vous seront proposés comme aide à trouver la réponse.</p>
        <h2>Dernières fiches noms propres débloquées :</h2>
        <div class="last-nouns"></div>
    </section>
    <section class="news">
        Derniers ajouts : (date)
    </section>
</div>

</body>
</html>