<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Semantic Fields</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div align="center" class="container my-2">
    <hr>
    <a href="/sessionGameTest">TestPage</a>
    <hr>
    <a href="/sessionGame">Launch a Session</a>
    <hr>
    <a href="/lexemes/page/1">See words</a>
    <hr>
    <a href="/lexemes/page/1">See lexemes</a>
    <hr>
    <a href="/lexemes/add">Add a lexeme</a>
    <hr>
    <a href="/sources">See Sources</a>
    <hr>
    <a href="/sources/add">Add a Source</a>
    <hr>
    <a href="/search">"search by name" </a>
</div>

</div>
</body>
</html>