<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Jeu Gerdarzh</title>

    <link rel="stylesheet" href="../css/main.css">

    <script type="text/javascript" src="/js/configData.js"></script>
    <script type="text/javascript" src="/js/scriptLanguage.js"></script>
    <script type="text/javascript" src="/js/scriptGame.js" defer></script>

</head>
<body>
<header>
    <h1>Gerdarzh</h1>
</header>
<section class="quiz">
    <h2 id="currentName"></h2>
    <div class="description" id="etymoDescription"></div>
    <div class="etymoForm" id ="etymoForm">
        Radicaux:
        <span class="etymoBtn" id="etymoName"></span>
    </div>
    <div class="answersForm" id="answer-btn"></div>
    <button id="next-btn">Next</button>
</section>
<footer>
    <a href="..">
        <button class="menu-btn">Menu</button>
    </a>
</footer>
</body>
</html>