<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Jeu Gerdarzh</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
</head>
<body>

<div align="center" class="container my-2">
    <div class="app">
        <h1>Gerdarzh</h1>
        <div class="quiz">
            <h2 id="currentName"></h2>
            <p class="langLexeme" id="etymoName"></p><br>
            <p class="langLexeme" id="translationName"></p>
            <div id="answer-buttons"></div>
            <button id="next-btn"></button>
        </div>
        <div class="footer"> <a href=".." class="menu-btn">Menu</a></div>
    </div>
</div>
</body>
</html>