<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Lexique celtique</title>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/configData.js"></script>
    <script type="text/javascript" src="/js/scriptLanguage.js"></script>
    <!--<script type="text/javascript" src="/js/consultSources.js" defer></script>-->
</head>

<body>
    <header>
        <img style="top: 30px;;"  src="../images/logo.png" width="50" height="50" alt="test">
        <h1 style="color: rgb(51, 51, 51); font-size: 20px;"><a href="/">Celtiadur</a></h1>
    
        <div class="summary">
          <div class="language"></div>
          <div class="summary-btn"><a href="/sessionGame">Jeu Gerdarzh</a></div>
          <div class="summary-btn"><a href="/wordstems/list">Lexique</a></div>
          <div class="summary-btn"><a href="/sources/list">Sources</a></div>
          <div class="summary-btn"><a href="/userprofile">Mon profil</a></div>
          <div class="summary-btn"><a href="/leaderboard">Classement</a></div>
          <div>

              <button class="classic-btn" top="20px">Se déconnecter</button>

          </div>
        </div>
      </header>
<h2>Data des sources non implémentée dans l'IHM</h2>
<section class="showWS">
<!--<h3 id="words-count"></h3>
<a href="/sources/add" class="btn">Ajouter un terme</a>
<table>
    <thead>
    <tr>
        <th> Mot</th>
        <th> Genre</th>
        <th> Wordclass</th>
        <th> Traduction</th>
        <th> Parent</th>
        <th> Champs Lexical</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="wordstemtable"></tbody>
</table>-->
<div id="pagesbutton">
</div>
</section>
</body>
</html>