<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="../css/main.css">

    <script type="text/javascript" src="/js/scriptUser.js" defer></script>

</head>
<body>
    <header>
        <h2>Celtiadur</h2>
        
        <img src="../images/logo.png" width="50" height="50" alt="test">
        <div class="summary">
          <div class="language"></div>
          <div class="summary-btn"><a href="/sessionGame">Jeu Gerdarzh</a></div>
          <div class="summary-btn"><a href="/wordstems/list">Lexique</a></div>
          <div class="summary-btn"><a href="/sources/list">Sources</a></div>
          <div class="summary-btn"><a href="/userprofile">Mon profil</a></div>
          <div class="summary-btn"><a href="/leaderboard">Classement</a></div>
          <div>
            <a href="/login?logout">
              <button class="classic-btn" top="20px">Se déconnecter</button>
            </a>
          </div>
        </div>
      </header>
    <h2>Data utilisateur non implémentée dans l'IHM</h2>
    <section class="showWS">
    <!--<h3 id="words-count"></h3>
    <a href="/sources/add" class="btn">Ajouter un terme</a>

    <div id="dateJoin"></div>
    <div id="totalXp"></div>
    <div id="scorePlaces"></div>
    <div id="scoreHFigures"></div>
    <div id="scoreMFigures"></div>
    <div id="scoreTribes"></div>
    <div id="scoreObjects"></div>
    <div id="pagesbutton">
    </div>
    </section>
    </body>
<header>
    <h1 id="username"></h1>
</header>

<section class="userInfo">

</section>-->
</body>
</html>