<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="../css/main.css">

    <script type="text/javascript" src="/js/scriptUser.js" defer></script>

</head>
<body>
<header>
    <h1 id="username"></h1>
</header>
<section class="userInfo">

    <div id="dateJoin"></div>
    <div id="totalXp"></div>
    <div id="scorePlaces"></div>
    <div id="scoreHFigures"></div>
    <div id="scoreMFigures"></div>
    <div id="scoreTribes"></div>
    <div id="scoreObjects"></div>
</section>
<footer>
    <a href=".."> <button class="menu-btn">Menu</button></a>
</footer>
</body>
</html>