<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Lexique celtique</title>
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="/js/configData.js"></script>
    <script type="text/javascript" src="/js/scriptLanguage.js"></script>
    <script type="text/javascript" src="/js/consultWordstem.js" defer></script>
</head>

<body>
<section class="showWS">
<h1>Geriadur: Lexique étymologique des termes celtique</h1>
<h3 id="words-count"></h3>
<a href="/wordStems/add" class="btn">Ajouter un terme</a>
<table>
    <thead>
    <tr>
        <th> Mot</th>
        <th> Genre</th>
        <th> Wordclass</th>
        <th> Traduction</th>
        <th> Parent</th>
        <th> Champs Lexical</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="wordstemtable"></tbody>
</table>
<div id="pagesbutton">
</div>
</section>
</body>
</html>