<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Lexique celtique</title>
  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="/js/configData.js"></script>
  <script type="text/javascript" src="/js/scriptLanguage.js"></script>
  <script type="text/javascript" src="/js/consultWordstem.js" defer></script>
</head>

<body>
  <header>
    <img style="top: 30px;" src="../images/logo.png" width="50" height="50" alt="test">
    <h1 style="color: rgb(51, 51, 51); font-size: 20px;"><a href="/">Celtiadur</a></h1>

    <div class="summary">
      <div class="language"></div>
      <div class="summary-btn"><a href="/sessionGame">Jeu Gerdarzh</a></div>
      <div class="summary-btn"><a href="/wordstems/list">Lexique</a></div>
      <div class="summary-btn"><a href="/sources/list">Sources</a></div>
      <div class="summary-btn"><a href="/userprofile">Mon profil</a></div>
      <div class="summary-btn"><a href="/leaderboard">Classement</a></div>
      <div>
        <button class="classic-btn" top="20px">Se déconnecter</button>
      </div>
    </div>
  </header>
  <section class="showWS">
    <h2 id="wordstemname"></h2>
    <h3>Etymologie</h3>
    <p id="etymology"></p>
    <h3>Details</h3>
    <p id="details"></p>
  </section>
</body>

</html>